.tab .content div{
	clear:left;
	color: white;
	background-color: #663333
	display:none;
}

div.tab-container {
	margin: 2px 1px 0 2px;
}

div.tabtitle-area{
	overflow: hidden;
	margin: 0 0 0 0px;
	//border-bottom: 1px solid #999;
}
div.tabtitle{
	position: relative;
	float: left;
	margin: 5px 0px 0px 3px;
	padding: 3px 10px;
	border: 1px solid #999;
	background: #EBEBEE url(../../img/tab.png) repeat-x 0 0;
	top: 1px;
}

.tabtitle:hover,.tabtitle+.tabtitle:hover {
	background: #E1E8FD url(../../img/hover.png) repeat-x 0 0;
}

.tabtitle[select='Y'] {
	background: none;
	background-color: white;
	border-bottom: 1px solid white;
}

div.tabcontent-area{
	clear: both;
}

.tabcontent {
	position: relative;
	float: both;
	padding: 0px 3px 1px 3px;
	margin: 0px 0px 0px 0px;
	border: 1px solid #999;
	//border-top: 0px; 

}


.tabtitle .littletabxx {
	width: 13px;
	height: 13px;
	display: inline-block;
	margin-left: 8px;
	background: url(../../img/close.gif) no-repeat 50% 50%;
}

.tabtitle .littletabxx:hover {
	background: url(../../img/table/error.png) no-repeat 50% 50%;
}