.hit-2column-tree {
	float: left;
	height: 494px;
	width: 150px;
	max-width: 150px;
	overflow-x: auto;
	white-space: nowrap; 
	margin: 10px 0 15px 0;
	padding: 0 0 0 15px;
	border-right: 3px dotted #999;
}

.hit-2column-tableform {
	float: left;
}